td {
    border:1px solid black;
    border-radius:10px;
    padding:10px;
}
button{
    font-size: 10pt;
}
canvas{
    max-width: 553px;
}
#placeholder{
    padding: 0px;
    max-width: 553px;
}
#placeholder2{
    padding: 0px;
    max-width: 553px;
}
#battery{
    border:1px solid black;
    width:500px;
    height:20px;
    text-align: center;
}
.bar {
    margin: 5px 0 3px;
    border: 6px solid #333;
    background: #333;
    overflow: hidden;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 1px 1px 1px #777;
    -moz-box-shadow: 1px 1px 1px #777;
    -webkit-box-shadow: 1px 1px 1px #777;
}
.bar > span {
    display: block;
    height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.color0 > span {
    background-color: #FF0000;
}

.toprow {
  margin-top:23px;
}
